# Lab 4: Data Imputation using an Autoencoder


In this lab, you will build and train an autoencoder to impute (or "fill in") missing data. 

We will be using the
Adult Data Set provided by the UCI Machine Learning Repository [1], available 
at https://archive.ics.uci.edu/ml/datasets/adult.
The data set contains census record files of adults, including their
age, martial status, the type of work they do, and other features. 

Normally, people use this data set to build a supervised classification
model to classify whether a person is a high income earner.
We will not use the dataset for this original intended purpose.

Instead, we will perform the task of imputing (or "filling in") missing values in the dataset. For example,
we may be missing one person's martial status, and another person's age, and
a third person's level of education. Our model will predict the missing features 
based on the information that we do have about each person.

We will use a variation of a denoising autoencoder to solve this data imputation
problem. Our autoencoder will be trained using inputs that have one categorical feature artificially
removed, and the goal of the autoencoder is to correctly reconstruct all features,
including the one removed from the input.

In the process, you are expected to learn to:

1. Clean and process continuous and categorical data for machine learning.
2. Implement an autoencoder that takes continuous and categorical (one-hot) inputs.
3. Tune the hyperparameters of an autoencoder.
4. Use baseline models to help interpret model performance.

[1] Dua, D. and Karra Taniskidou, E. (2017). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.


### What to submit

Submit a PDF file containing all your code, outputs, and write-up. You can produce a PDF of your Google Colab file by going to File > Print and then save as PDF. The Colab instructions have more information.

Do not submit any other files produced by your code.

Include a link to your colab file in your submission.

## Colab Link

Include a link to your Colab file here. If you would like the TA to look at your
Colab file in case your solutions are cut off, **please make sure that your Colab
file is publicly accessible at the time of submission**.

Colab Link: https://drive.google.com/file/d/1OuydqaPumTyoabzyKT6Fa_iukRo-80vi/view?usp=sharing

In [3]:
import csv
import numpy as np
import random
import torch
import torch.utils.data

## Part 0

We will be using a package called `pandas` for this assignment. 

If you are using Colab, `pandas` should already be available.
If you are using your own computer,
installation instructions for `pandas` are available here: 
https://pandas.pydata.org/pandas-docs/stable/install.html

In [4]:
import pandas as pd

# Part 1. Data Cleaning [15 pt]

The adult.data file is available at `https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data`

The function `pd.read_csv` loads the adult.data file into a pandas dataframe.
You can read about the pandas documentation for `pd.read_csv` at
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [5]:
header = ['age', 'work', 'fnlwgt', 'edu', 'yredu', 'marriage', 'occupation',
 'relationship', 'race', 'sex', 'capgain', 'caploss', 'workhr', 'country']
df = pd.read_csv(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",
    names=header,
    index_col=False)

C:\Users\0xc00\AppData\Local\Temp\ipykernel_1136\1831985018.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(

In [6]:
df.shape # there are 32561 rows (records) in the data frame, and 14 columns (features)

(32561, 14)

### Part (a) Continuous Features [3 pt]

For each of the columns `["age", "yredu", "capgain", "caploss", "workhr"]`, report the minimum, maximum, and average value across the dataset. 

Then, normalize each of the features `["age", "yredu", "capgain", "caploss", "workhr"]`
so that their values are always between 0 and 1.
Make sure that you are actually modifying the dataframe `df`. 

Like numpy arrays and torch tensors, 
pandas data frames can be sliced. For example, we can
display the first 3 rows of the data frame (3 records) below.

In [7]:
df[:3] # show the first 3 records

,age,work,fnlwgt,edu,yredu,marriage,occupation,relationship,race,sex,capgain,caploss,workhr,country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States

Alternatively, we can slice based on column names, 
for example `df["race"]`, `df["hr"]`, or even index multiple columns 
like below.

In [8]:
subdf = df[["age", "yredu", "capgain", "caploss", "workhr"]]
subdf[:3] # show the first 3 records

   age  yredu  capgain  caploss  workhr
0   39     13     2174        0      40
1   50     13        0        0      13
2   38      9        0        0      40

Numpy works nicely with pandas, like below:

In [9]:
np.sum(subdf["caploss"])

2842700

Just like numpy arrays, you can modify
entire columns of data rather than one scalar element at a time.
For example, the code  

`df["age"] = df["age"] + 1` 

would increment everyone's age by 1.

In [10]:
# get the min, max and avg of subdf
subdf.describe()

                age         yredu       capgain       caploss        workhr
count  32561.000000  32561.000000  32561.000000  32561.000000  32561.000000
mean      38.581647     10.080679   1077.648844     87.303830     40.437456
std       13.640433      2.572720   7385.292085    402.960219     12.347429
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       48.000000     12.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   4356.000000     99.000000

In [11]:
# normalize the data with the max being 1 and min being 0
subdf = (subdf - subdf.min())/(subdf.max() - subdf.min())

In [12]:
# check the min, max and avg of the normalized data
subdf.describe()

                age         yredu       capgain       caploss        workhr
count  32561.000000  32561.000000  32561.000000  32561.000000  32561.000000
mean       0.295639      0.605379      0.010777      0.020042      0.402423
std        0.186855      0.171515      0.073854      0.092507      0.125994
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.150685      0.533333      0.000000      0.000000      0.397959
50%        0.273973      0.600000      0.000000      0.000000      0.397959
75%        0.424658      0.733333      0.000000      0.000000      0.448980
max        1.000000      1.000000      1.000000      1.000000      1.000000

### Part (b) Categorical Features [1 pt]

What percentage of people in our data set are male? Note that the data labels all have an unfortunate space in the beginning, e.g. " Male" instead of "Male".

What percentage of people in our data set are female?

In [13]:
# hint: you can do something like this in pandas
sum(df["sex"] == " Male")

21790

In [14]:
# report the percentage of male
sum(df["sex"] == " Male")/df.shape[0]

0.6692054912318418

In [15]:
# report the percentage of female
sum(df["sex"] == " Female")/df.shape[0]

0.33079450876815825

### Part (c) [2 pt]

Before proceeding, we will modify our data frame in a couple more ways:

1. We will restrict ourselves to using a subset of the features (to simplify our autoencoder)
2. We will remove any records (rows) already containing missing values, and store them in a second dataframe. We will only use records without missing values to train our autoencoder.

Both of these steps are done for you, below.

How many records contained missing features? What percentage of records were removed?

In [16]:
# contcols is the list of continuous columns
contcols = ["age", "yredu", "capgain", "caploss", "workhr"]
# catcols is the list of categorical columns
catcols = ["work", "marriage", "occupation", "edu", "relationship", "sex"]
features = contcols + catcols
df = df[features]

In [17]:
missing = pd.concat([df[c] == " ?" for c in catcols], axis=1).any(axis=1)
df_with_missing = df[missing]
df_not_missing = df[~missing]

In [18]:
# report the percentage of missing data
df_with_missing.shape[0]/df.shape[0]

0.056601455729246644

### Part (d) One-Hot Encoding [1 pt]

What are all the possible values of the feature "work" in `df_not_missing`? You may find the Python function `set` useful.

In [19]:
set(df_not_missing["work"])

{' Federal-gov',
 ' Local-gov',
 ' Private',
 ' Self-emp-inc',
 ' Self-emp-not-inc',
 ' State-gov',
 ' Without-pay'}

We will be using a one-hot encoding to represent each of the categorical variables.
Our autoencoder will be trained using these one-hot encodings.

We will use the pandas function `get_dummies` to produce one-hot encodings
for all of the categorical variables in `df_not_missing`.

In [20]:
data = pd.get_dummies(df_not_missing)

In [21]:
data[:3]

,age,yredu,capgain,caploss,workhr,work_ Federal-gov,work_ Local-gov,work_ Private,work_ Self-emp-inc,work_ Self-emp-not-inc,...,edu_ Prof-school,edu_ Some-college,relationship_ Husband,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,sex_ Female,sex_ Male
0,39,13,2174,0,40,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
1,50,13,0,0,13,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,True
2,38,9,0,0,40,False,False,True,False,False,...,False,False,False,True,False,False,False,False,False,True

### Part (e) One-Hot Encoding [2 pt]

The dataframe `data` contains the cleaned and normalized data that we will use to train our denoising autoencoder.

How many **columns** (features) are in the dataframe `data`?

Briefly explain where that number come from.

In [22]:
# report the number of columns in the data
data.shape[1]

57

In [23]:
# the reason why there are 57 columns is because we have 5 continuous columns and 6 categorical columns
# for each categorical column, we have to create a new column for each category, so 52 + 5 = 57

sum([len(set(df_not_missing[c])) for c in catcols])

52

### Part (f) One-Hot Conversion [3 pt]

We will convert the pandas data frame `data` into numpy, so that
it can be further converted into a PyTorch tensor.
However, in doing so, we lose the column label information that
a panda data frame automatically stores.

Complete the function `get_categorical_value` that will return
the named value of a feature given a one-hot embedding.
You may find the global variables `cat_index` and `cat_values`
useful. (Display them and figure out what they are first.)

We will need this function in the next part of the lab
to interpret our autoencoder outputs. So, the input
to our function `get_categorical_values` might not 
actually be "one-hot" -- the input may instead 
contain real-valued predictions from our neural network.

In [24]:
# datanp is the numpy array of the data, which should have the same shape as data
datanp = data.values.astype(np.float32)
datanp.shape

(30718, 57)

In [ ]:
cat_index = {}  # Mapping of feature -> start index of feature in a record
cat_values = {} # Mapping of feature -> list of categorical values the feature can take

# build up the cat_index and cat_values dictionary
for i, header in enumerate(data.keys()):
    if "_" in header: # categorical header
        feature, value = header.split()
        feature = feature[:-1] # remove the last char; it is always an underscore
        if feature not in cat_index:
            cat_index[feature] = i
            cat_values[feature] = [value]
        else:
            cat_values[feature].append(value)

def get_onehot(record, feature):
    """
    Return the portion of `record` that is the one-hot encoding
    of `feature`. For example, since the feature "work" is stored
    in the indices [5:12] in each record, calling `get_onehot(record, "work")`
    is equivalent to accessing `record[5:12]`.
    
    Args:
        - record: a numpy array representing one record, formatted
                  the same way as a row in `data.np`
        - feature: a string, should be an element of `catcols`
    """
    start_index = cat_index[feature]
    stop_index = cat_index[feature] + len(cat_values[feature])
    return record[start_index:stop_index]

def get_categorical_value(onehot, feature):
    """
    Return the categorical value name of a feature given
    a one-hot vector representing the feature.
    
    Args:
        - onehot: a numpy array one-hot representation of the feature
        - feature: a string, should be an element of `catcols`
        
    Examples:
    
    >>> get_categorical_value(np.array([0., 0., 0., 0., 0., 1., 0.]), "work")
    'State-gov'
    >>> get_categorical_value(np.array([0.1, 0., 1.1, 0.2, 0., 1., 0.]), "work")
    'Private'
    """
    # <----- TODO: WRITE YOUR CODE HERE ----->
    # You may find the variables `cat_index` and `cat_values` 
    # (created above) useful.

    max_index = np.argmax(onehot)
    return cat_values[feature][max_index]

In [34]:
# test the get_onehot and get_categorical_value functions
print(get_categorical_value(np.array([0., 0., 0., 0., 0., 1., 0.]), "work"))
print(get_categorical_value(np.array([0.1, 0., 1.1, 0.2, 0., 1., 0.]), "work"))

State-gov
Private

In [28]:
# more useful code, used during training, that depends on the function
# you write above

def get_feature(record, feature):
    """
    Return the categorical feature value of a record
    """
    onehot = get_onehot(record, feature)
    return get_categorical_value(onehot, feature)

def get_features(record):
    """
    Return a dictionary of all categorical feature values of a record
    """
    return { f: get_feature(record, f) for f in catcols }

### Part (g) Train/Test Split [3 pt]

Randomly split the data into approximately 70% training, 15% validation and 15% test.

Report the number of items in your training, validation, and test set.

In [47]:
# set the numpy seed for reproducibility
# https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.seed.html
np.random.seed(50)

# split by 0.7, 0.15, 0.15
np.random.shuffle(datanp)
train_data, validate_data, test_data = np.split(datanp, [int(.7*len(datanp)), int(.85*len(datanp))])

print(train_data.shape, validate_data.shape, test_data.shape)

(21502, 57) (4608, 57) (4608, 57)

## Part 2. Model Setup [5 pt]

### Part (a) [4 pt]

Design a fully-connected autoencoder by modifying the `encoder` and `decoder`
below.

The input to this autoencoder will be the features of the `data`, with
one categorical feature recorded as "missing". The output of the autoencoder
should be the reconstruction of the same features, but with the missing
value filled in.

**Note**: Do not reduce the dimensionality of the input too much!
The output of your embedding is expected to contain information 
about ~11 features.

In [72]:
from torch import nn

class AutoEncoder(nn.Module):
    def __init__(self):
        super(AutoEncoder, self).__init__()
        self.encoder = nn.Sequential(
            nn.Linear(57, 256),
            nn.ReLU(),
            nn.Linear(256, 256),
            nn.ReLU(),
            nn.Linear(256, 57)

        )
        self.decoder = nn.Sequential(
            nn.Linear(57, 256), 
            nn.ReLU(),
            nn.Linear(256, 256),
            nn.ReLU(),
            nn.Linear(256, 57),
            nn.Sigmoid() # get to the range (0, 1)
        )

    def forward(self, x):
        x = self.encoder(x)
        x = self.decoder(x)
        return x

### Part (b) [1 pt]

Explain why there is a sigmoid activation in the last step of the decoder.

(**Note**: the values inside the data frame `data` and the training code in Part 3 might be helpful.)

In [68]:
# the sigmoid function is used to get the probability of each category being ture
# from logic. After that we can apply softmax to only keeping the maximum probability one 
# being 1 and other categories being 0 in the same feature

## Part 3. Training [18] 

### Part (a) [6 pt]

We will train our autoencoder in the following way:

- In each iteration, we will hide one of the categorical features using the `zero_out_random_features` function
- We will pass the data with one missing feature through the autoencoder, and obtain a reconstruction
- We will check how close the reconstruction is compared to the original data -- including the value of the missing feature

Complete the code to train the autoencoder, and plot the training and validation loss every few iterations.
You may also want to plot training and validation "accuracy" every few iterations, as we will define in
part (b). You may also want to checkpoint your model every few iterations or epochs.

Use `nn.MSELoss()` as your loss function. (Side note: you might recognize that this loss function is not
ideal for this problem, but we will use it anyway.)

In [43]:
def zero_out_feature(records, feature):
    """ Set the feature missing in records, by setting the appropriate
    columns of records to 0
    """
    start_index = cat_index[feature]
    stop_index = cat_index[feature] + len(cat_values[feature])
    records[:, start_index:stop_index] = 0
    return records

def zero_out_random_feature(records):
    """ Set one random feature missing in records, by setting the 
    appropriate columns of records to 0
    """
    return zero_out_feature(records, random.choice(catcols))

def train(model, train_loader, valid_loader, device, num_epochs=5, learning_rate=1e-4):
    """ Training loop. You should update this."""
    torch.manual_seed(42)
    criterion = nn.MSELoss()
    optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

    for epoch in range(num_epochs):
        for data in train_loader:
            data = data.to(device)
            datam = zero_out_random_feature(data.clone()) # zero out one categorical feature
            recon = model(datam)
            loss = criterion(recon, data)
            loss.backward()
            optimizer.step()
            optimizer.zero_grad()

### Part (b) [3 pt]

While plotting training and validation loss is valuable, loss values are harder to compare
than accuracy percentages. It would be nice to have a measure of "accuracy" in this problem.

Since we will only be imputing missing categorical values, we will define an accuracy measure.
For each record and for each categorical feature, we determine whether
the model can predict the categorical feature given all the other features of the record.

A function `get_accuracy` is written for you. It is up to you to figure out how to
use the function. **You don't need to submit anything in this part.**
To earn the marks, correctly plot the training and validation accuracy every few 
iterations as part of your training curve.

In [ ]:
def get_accuracy(model, data_loader, device):
    """Return the "accuracy" of the autoencoder model across a data set.
    That is, for each record and for each categorical feature, 
    we determine whether the model can successfully predict the value
    of the categorical feature given all the other features of the 
    record. The returned "accuracy" measure is the percentage of times 
    that our model is successful.
        
    Args:
       - model: the autoencoder model, an instance of nn.Module
       - data_loader: an instance of torch.utils.data.DataLoader

    Example (to illustrate how get_accuracy is intended to be called.
             Depending on your variable naming this code might require
             modification.)

        >>> model = AutoEncoder()
        >>> vdl = torch.utils.data.DataLoader(data_valid, batch_size=256, shuffle=True)
        >>> get_accuracy(model, vdl)
    """
    total = 0
    acc = 0
    for col in catcols:
        for item in data_loader: # minibatches
            item = item.to(device)
            inp = item.detach().cpu().numpy()
            out = model(zero_out_feature(item.clone(), col)).detach().cpu().numpy()
            for i in range(out.shape[0]): # record in minibatch
                # logic: if the i predicted category of the categorical feature col is the same as the i actual category of the categorical feature co;
                # when inputting a record with the random categorical feature col zeroed out, then the model is correct
                acc += int(get_feature(out[i], col) == get_feature(inp[i], col))
                total += 1
    return acc / total

### Part (c) [4 pt]

Run your updated training code, using reasonable initial hyperparameters.

Include your training curve in your submission.

In [ ]:
# train the model
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
model = AutoEncoder().to(device)
train_loader = torch.utils.data.DataLoader(train_data, batch_size=256)
valid_loader = torch.utils.data.DataLoader(validate_data, batch_size=256)

train(model=model, train_loader=train_loader, valid_loader=valid_loader, device=device, num_epochs=30, learning_rate=1e-4)

In [56]:
# get the accuracy of the model
get_accuracy(model, valid_loader, device)

0.5912181712962963

### Part (d) [5 pt]

Tune your hyperparameters, training at least 4 different models (4 sets of hyperparameters).

Do not include all your training curves. Instead, explain what hyperparameters
you tried, what their effect was, and what your thought process was as you 
chose the next set of hyperparameters to try.

In [ ]:
model = AutoEncoder().to(device)
train_loader = torch.utils.data.DataLoader(train_data, batch_size=64)
valid_loader = torch.utils.data.DataLoader(validate_data, batch_size=64)
train(model=model, train_loader=train_loader, valid_loader=valid_loader, device=device, num_epochs=30, learning_rate=1e-4)
get_accuracy(model, valid_loader, device)

# decrease the batch number slightly helps with the accuracy (generalization)

0.5957392939814815

In [ ]:
model = AutoEncoder().to(device)
train_loader = torch.utils.data.DataLoader(train_data, batch_size=64)
valid_loader = torch.utils.data.DataLoader(validate_data, batch_size=64)
train(model=model, train_loader=train_loader, valid_loader=valid_loader, device=device, num_epochs=60, learning_rate=1e-4)
get_accuracy(model, valid_loader, device)

# increasing the number of epochs also slightly helps with the accuracy, we should keep increasing until overfitting

0.6358145254629629

In [ ]:
model = AutoEncoder().to(device)
train_loader = torch.utils.data.DataLoader(train_data, batch_size=64)
valid_loader = torch.utils.data.DataLoader(validate_data, batch_size=64)
train(model=model, train_loader=train_loader, valid_loader=valid_loader, device=device, num_epochs=120, learning_rate=1e-4)
get_accuracy(model, valid_loader, device)

# 120 epoches doesn't improve the accuracy, try 90 epoches

0.6346209490740741

In [ ]:
model = AutoEncoder().to(device)
train_loader = torch.utils.data.DataLoader(train_data, batch_size=64)
valid_loader = torch.utils.data.DataLoader(validate_data, batch_size=64)
train(model=model, train_loader=train_loader, valid_loader=valid_loader, device=device, num_epochs=90, learning_rate=1e-4)
get_accuracy(model, valid_loader, device)

# 90 epoches shows a decrease in accuracy, so 60 epoches is the best

0.6116536458333334

In [73]:
model = AutoEncoder().to(device)
train_loader = torch.utils.data.DataLoader(train_data, batch_size=64)
valid_loader = torch.utils.data.DataLoader(validate_data, batch_size=64)
train(model=model, train_loader=train_loader, valid_loader=valid_loader, device=device, num_epochs=60, learning_rate=1e-3)
get_accuracy(model, valid_loader, device)

# increase the learning rate helps with the accuracy

0.6493417245370371

## Part 4. Testing [12 pt]

### Part (a) [2 pt]

Compute and report the test accuracy.

In [74]:
test_loader = torch.utils.data.DataLoader(test_data, batch_size=64)
get_accuracy(model, test_loader, device)

0.6511501736111112

### Part (b) [4 pt]

Based on the test accuracy alone, it is difficult to assess whether our model
is actually performing well. We don't know whether a high accuracy is due to
the simplicity of the problem, or if a poor accuracy is a result of the inherent
difficulty of the problem.

It is therefore very important to be able to compare our model to at least one
alternative. In particular, we consider a simple **baseline**
model that is not very computationally expensive. Our neural network
should at least outperform this baseline model. If our network is not much
better than the baseline, then it is not doing well.

For our data imputation problem, consider the following baseline model:
to predict a missing feature, the baseline model will look at the **most common value** of the feature in the training set. 

For example, if the feature "marriage" is missing, then this model's prediction will be the most common value for "marriage" in the training set, which happens to be "Married-civ-spouse".

What would be the test accuracy of this baseline model?

In [ ]:
# find the most comment value of each categorical feature in the training data

most_common = {}
# iterate over all the categorical feature names
# find the one-hot column with the greatest sum within one feature
for feature in catcols:
    start_index = cat_index[feature]
    stop_index = start_index + len(cat_values[feature])
    most_common[feature] = cat_values[feature][np.argmax(train_data[:, start_index:stop_index].sum(axis=0))]
    
most_common

{'work': 'Private',
 'marriage': 'Married-civ-spouse',
 'occupation': 'Prof-specialty',
 'edu': 'HS-grad',
 'relationship': 'Husband',
 'sex': 'Male'}

In [ ]:
# test the baseline model lookup table
total = 0
acc = 0
for col in catcols:
    for item in test_loader: # minibatches
        item = item.to(device)
        inp = item.detach().cpu().numpy()
        for i in range(inp.shape[0]): # record in minibatch
            acc += int(get_feature(inp[i], col) == most_common[col])
            total += 1
acc / total

0.4583695023148148

### Part (c) [1 pt]

How does your test accuracy from part (a) compared to your basline test accuracy in part (b)?

In [ ]:
# the model accuraty is 0.65, which is better than the baseline model accuracy of 0.45, but not by much

### Part (d) [1 pt]

Look at the first item in your test data. 
Do you think it is reasonable for a human
to be able to guess this person's education level
based on their other features? Explain.

In [ ]:
# report the first 1 record of the test data
get_features(test_data[0])

# I would expect the model to predict the level of education based on the other features of the record

{'work': 'Private',
 'marriage': 'Divorced',
 'occupation': 'Transport-moving',
 'edu': 'HS-grad',
 'relationship': 'Not-in-family',
 'sex': 'Male'}

### Part (e) [2 pt]

What is your model's prediction of this person's education
level, given their other features?

In [81]:
# My prediciton is HS-grad mainly from te occupation being the transport-moving category

### Part (f) [2 pt]

What is the baseline model's prediction
of this person's education level?

In [ ]:
# report the value of edu in the lookup table
most_common["edu"]

# the baseline model would predict the value of edu to be HS-grad

'HS-grad'